<footer>
    <div class="contenedor-footer">
        <!-- <div class="ftop">
            <h3> © Diseñado por Camilo Duarte - 2023 </h3>
            <h3> © Diseñado por Camilo Duarte - 2023 </h3>
            <h3> © Diseñado por Camilo Duarte - 2023 </h3>
        </div> -->
        <div class="fbottom-ext">
            <div class="fbottom">
                <span> Copyright © 2023 Todos los derechos reservados - Diseñado en Flask y hosteado en pythonanywhere por Camilo Andres Duarte  </span>
                <div class="icons">
                    <a href=""><i class="fa-brands fa-linkedin-in fa-bounce"></i></span></a>
                    <a href=""><i class="fa-brands fa-youtube fa-bounce"></i></span></a>
                </div>

            </div>
        </div>
    </div>
</footer>