{% extends 'home.html' %}
{% block inicio %}

<div class="body">
    <div class="content-body">
        <div class="container-general">
            <div class="foto">
                <img class="foto-perfil" src="../../static/images/foto.jpg" alt="">
                <span class="body-1">CAMILO ANDRES</span>
                <span class="body-1">DUARTE VARON</span>
                <span class="body">23 años</span>
                <span class="body">Egresado de la Universidad de Ibagué</span>
                <span class="body">PPA ≈ 4 out of 5</span>

            </div>
            <div class="foto1">
                <p>
                    Soy Camilo Andres Duarte Varon, ingeniero egresado de la Universidad de Ibague del programa de
                    ingeniería electrónica, el cual se encuetra acreditado de alta calidad por el Ministerio de
                    Educación. Mi pasión se encuentra en la programación, la automatización y el control. Con
                    experiencia en distintos campos de la programación y automatización industrial, he tenido la
                    oportunidad de aprender, mejorar procesos y resolver problemas.

                    Mi enfoque se centra en el desarrollo web FULL STACK+ y el diseño eléctrico de sistemas embebidos e
                    industriales. Creo firmemente en el aprendizaje continuo y en el trabajo en equipo para alcanzar los
                    objetivos.



                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}