<div class="contenedorexterior">
    <header class="contenedor-navbar">

        <div class="col1">
            <!-- <a href=""><img class="logounibague" src="../../static/images/Logounibagueblanco.png" alt=""> </a> -->
            <div>
                <span class="titulo" href="">CAMILO DUARTE</span>
                <span href="">Ingeniero electrónico</span>
            </div>
        </div>
        <div class="col1">
            <ul class="list-nav">
                <li> <a href="">Formación</a></li>
                <li> <a href="">Proyectos</a></li>
                <li> <a href="">Experiencia</a></li>
                <li> <a href="">Contacto</a></li>
            </ul>

        </div>
    </header>
</div>